/*GLOBAL STYLES*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(185, 75%, 39%) url(/images/bg-pattern-bottom.svg);
  font-family: 'Kumbh Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px 25px;
}

span,
.location,
.stats p {
  color: hsl(0, 0%, 59%);
}
.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

.name,
.stats,
.stats p,
span,
h1,
h3 {
  font-size: 18px;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 350px;
}
.card {
  border-radius: 20px;width: 100%;
  
}

.bg-img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.profile-content {
  background: #eee;
  border-radius: 0 0 20px 20px;
}

.profile-picture img {
  border: 5px solid #eee;
  border-radius: 50%;
  position: relative;
  bottom: 50px;

}

.profile-picture {
  }
.profile-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
span {
  padding-left: 12px;
}
.location {
  text-align: center;
  margin: 14px;
}
/*FOOTER*/
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
}

.stats,
.stats p {
  padding: 10px 15px;
  text-align: center;
}
footer>p {
  font-size: 18px;
}